.footerIcon {
    float: right;
    height: 25px;
    width: auto;
    margin-left: 10px;
}

.logoDiv {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 5vw;
    width: 12vw;
    margin-top: 15px;
}

.heroText {
    font-size: 18px !important;
}

.subText {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.darkModeBtn {
    display: flex;
    column-gap: 10px;
}

.logoSubdiv {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 35px;
    padding-left: 2vw;
    margin-top: -0.6ch;

    .subText {
        margin-top: 1ch;
    }

}

.logoSvg {
    width: 200px;
    height: 35px;
    margin-left: -10px;
}


.keywords {
    display: flex;
    width: 50vw;
    flex-wrap: wrap;

    li {
        border-radius: 3ch;
        padding: 0.5ch 1.2ch;
        margin-top: 1ch;
        margin-left: 1.5ch;
        border: rgba(0, 0, 0, 0.08) solid 1.8px;
        color: black;
    }

    li:hover {
        background-color: rgba(0, 0, 0, 0.02);
    }
}

:is(html[class~=dark]) {
    .keywords>li {
        border-color: rgba(255, 255, 255, 0.15);
        color: white;
    }

    .keywords>li:hover {
        background-color: rgba(255, 255, 255, 0.12);
    }
}